.element {
    width: 100%;
    display: block;
    position: relative;
}

.element .col {
    display: block;
    float: left;
    box-sizing: border-box;
    padding: 0 8px;
 }

.element .col-1 { width: 8.27%; }
.element .col-2 { width: 16.32%; }
.element .col-3 { width: 24.48%; }
.element .col-4 { width: 33.16%; }
.element .col-5 { width: 41.32%; }
.element .col-6 { width: 49.72%; }
.element .col-7 { width: 58.12%; }
.element .col-8 { width: 66.48%; }
.element .col-9 { width: 74.64%; }
.element .col-10 { width: 83.16%; }
.element .col-11 { width: 91.32%; }
.element .col-12 { width: 100%; }
