.element {
    margin: 0;
    padding: 0;
    background: $base;
    position: relative;
    line-height: 40px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    color: $textBright;
}

.element:hover {
    background: $baseDark;
}

.element .container {
    position: absolute;
    top: 40px;
    left: 0;
    background: $base;
    transition: all 0.3s;
    height: 0px;
    width: 100%;
}

.element:hover .container {
    height: auto;
}

.element .container .item {
    opacity: 0;
    transition: all 0.3s;
    width: 100%;
    height: 40px;
}

.element:hover .container .item {
    opacity: 1;
}

.element .container .item:hover {
    background: $accent;
}
