.element {
    display: block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #161616;
}

.element:hover {
    background-color: #242424;
}
