.element {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #212121;
}

.element:hover {
    background-color: #141414;
}
