.element {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: $mainColor;
    font-color: $fontBright;
    transition: all 0.3s;
}

.element:hover {
    background-color: $accent;
    font-color: $fontDark;
}

.element.disabled {
    color: #929292;
}

.element.disabled:hover {
    background-color: $mainColor;
}
