.element {
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: $base;
    color: $textLight;
    transition: all 0.3s;
}

.element:hover {
    background-color: $accent;
    color: $textDark;
}

.element.disabled {
    color: $textBright;
}

.element.disabled:hover {
    background-color: $base;
}
