.element {
    margin-bottom: 4px;
    display: inline-block;
    width: auto;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: $base;
    color: $textLight;
    transition: all 0.3s;
    user-select: none;
}

.element:hover {
    background-color: $accent;
    color: $textDark;
}

.element.disabled {
    color: $textBright;
}

.element.disabled:hover {
    background-color: $base;
}
